<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Enregister') }}</button>
{{ form_end(form) }}
