{% extends 'base.html.twig' %}

{% block title %}New Topic{% endblock %}

{% block body %}
    <h1 class="text-light">Créer une nouvelle topic</h1>

    {{ include('topic/_form.html.twig') }}

    <a href="{{ path('app_topic_index') }}">Retour à la list</a>
{% endblock %}
