{% extends 'base.html.twig' %}


{% block body %}


    {% if app.user %}
      <h2 class="text-light d-flex justify-content-center my-5">Bonjour,{{app.user.userIdentifier}}, Partageons nos recettes magiques ici</h2>
    {% else %}
     <h2 class="text-light d-flex justify-content-center" >Forum recette du monde</h2>
    {% endif %}




  
{% endblock %}
