{% extends 'base.html.twig' %}


{% block body %}

    <h1 class="text-light d-flex justify-content-center">Nos recette </h1>
    <div class="bloc p-4 my-2"></div>
    <div class="card" style="width: 18rem;">
  <img src="/img/dessert.png" class="card-img-top" alt="recette">
  <div class="card-body">
    <h5 class="card-title text-danger-emphasis">Citrouille</h5>
    <p class="card-text text-danger-emphasis">fais avec de la citrouille .</p>
    
  </div>
</div>



  
{% endblock %}
